* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary-color: #49AA92;
    --primary-color-hover: #2f7462;
    --secondary-color: #49AA92;
    --secondary-color-hover: #3b8874;
    --warning-color: #e74c3c;
    --warning-color-hover: #b53729;
    --lightest-color: #fff;
    --light-color: #dce2d5;
    --mid-color: #b5d6bf;
    --dark-color: #505050;
    --darker-color: #272727;
    --max-width: 1920px;
    --text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#app {
    max-width: var(--max-width);
    color: var(--darker-color);
    background-color: var(--lightest-color);
    margin: auto;
    font-family: "Roboto", sans-serif;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

button {
    background-color: transparent;
    border: none;
}